.container
  input(v-model:value="levelSlug")
  button(@click="getProblems")
    | Get Problems
  input(type="number" step="0.01" v-model:value="partialThreshold")
  input(type="number" step="0.01" v-model:value="completeThreshold")
  table
    tr
      th
        | Original
      th
        | Translated
      th
        | Difference
      th
        | Frequency
      
    tr(v-for="problem in problems", :style="{ backgroundColor: color(problem) }")
      td {{ problem.message }}
      td {{ problem.translated }}
      td {{ percentDifference(problem) }}%
      td {{ problem.count }}
